@page
@model CascadeTerraceLandscaping.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="my-3 p-4 shadow-lg rounded-3">
    <div class="p-4 bg-light">
        <h1 class="display-2 fw-semi-bold">Contact Us</h1>
        <a href="tel:+1888888888" class="terrace-link">1-888-888-8888</a>
    </div>
</div>

<div class="p-4 shadow-lg rounded-3">

    <form class="p-4 bg-light">
                
        <div class="p-4 mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleInputName">
        </div>
        <div class="p-4 mb-3">
            <label for="exampleInputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail">
        </div>

        <div class="p-4 mb-3">
            <label for="exampleInputPhone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="exampleInputPhone">
        </div>

        <div class="p-4 mb-3">
            <button type="submit" class="btn terrace-btn">Submit</button>
        </div>
       
    </form>

</div>
