@page
@model CascadeTerraceLandscaping.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}

<div class="my-3 p-4 shadow-lg rounded-3">
    <div class="p-4 bg-light">
        <h1 class="display-2 fw-semi-bold">Services</h1>
        <a href="https://www.bobrosslipsum.com/" target="_blank" class="terrace-link">Bob Ross Lipsum</a>
    </div>
</div>

<div class="p-4 shadow-lg rounded-3">

    <ul class="list-group list-group-flush">
        <li class="list-group-item p-4 bg-light">
            <p class="fs-3 fst-italic">Landscape Design</p>
            <p>
                If you don't like it - change it. It's your world.
                But we're not there yet, so we don't need to worry about it.
                I thought today we would make a happy little stream that's
                just running through the woods here. Working it up and down,
                back and forth. Absolutely no pressure. You are just a whisper
                floating across a mountain. But they're very easily killed.
                Clouds are delicate.
            </p>
        </li>
        <li class="list-group-item p-4 bg-light">
            <p class="fs-3 fst-italic">Landscape Maintenance</p>
            <p>
                Trees get lonely too, so we'll give him a little friend.
                In this world, everything can be happy. Happy painting,
                God bless. There's nothing wrong with having a tree as a friend.
                Each highlight must have it's own private shadow.
            </p>
        </li>
        <li class="list-group-item p-4 bg-light">
            <p class="fs-3 fst-italic">Pavers & Retaining Walls</p>
            <p>
                All you need to paint is a few tools, a little instruction,
                and a vision in your mind. From all of us here,
                I want to wish you happy painting and God bless, my friends.
                Nice little fluffy clouds laying around in the sky being lazy.
            </p>
        </li>
        <li class="list-group-item p-4 bg-light">
            <p class="fs-3 fst-italic">Pools</p>
            <p>
                Be careful. You can always add more - but you can't take it away.
                Learn when to stop. I sincerely wish for you every possible joy
                life could bring. Volunteering your time; it pays you and your
                whole community fantastic dividends. Fluff it up a little and
                hypnotize it. Maybe there's a happy little Evergreen that lives here.
            </p>
        </li>
        <li class="list-group-item p-4 bg-light">
            <p class="fs-3 fst-italic">Power Washing</p>
            <p>
                In your world you have total and absolute power.
                We'll put some happy little leaves here and there.
                We touch the canvas, the canvas takes what it wants.
                A happy cloud. Work that paint.
            </p>
        </li>
    </ul>

</div>
